    {% extends 'base.html.twig' %}

    {% block body %}
    <section class="search">
        <form action="" class="">
            <input placeholder="Search by glossary or term" type="text">
        </form>
    </section>
    <section class="main-termins">
        <div class="container-cards d-flex">
          <div class="item-card">
            <div class="header-card">  
              <p>Glossary: SALUDOS, Language: ESP, Creator: PEPE</p>
          </div>
          <div class="body-card">
              <label for="terms__list">Terms:</label>
              <ul>
                <li class="d-flex terms_item">
                  <div class="term___text">hola</div>
                  <div class="d-flex">
                    <div class="term__translate"> 
                        <span>Hello(Es),</span>
                        <span>Hello(US),</span>
                        <span>Hello(Fr),</span>
                        <span>
                          <a href="#">5 more</a>
                      </span>              
                  </div>
                  <div class="term__action">
                      <button>Translate</button>
                  </div>
              </div>
          </li>
          <hr>
          <li class="d-flex terms_item">
              <div class="term___text">hola</div>
              <div class="d-flex">
                <div class="term__translate"> 
                    <span>Hello(Es),</span>
                    <span>Hello(US),</span>
                    <span>Hello(Fr),</span>
                    <span>
                      <a href="#">5 more</a>
                  </span>              
              </div>
              <div class="term__action">
                  <button>Translate</button>
              </div>
          </div>
      </li>
      <hr>
      <li class="d-flex terms_item">
          <div class="term___text">hola</div>
          <div class="d-flex">
            <div class="term__translate"> 
                <span>Hello(Es),</span>
                <span>Hello(US),</span>
                <span>Hello(Fr),</span>
                <span>
                  <a href="#">5 more</a>
              </span>              
          </div>
          <div class="term__action">
              <button>Translate</button>
          </div>
      </div>
  </li>
  <hr>
  <li class="d-flex terms_item">
      <div class="term___text">hola</div>
      <div class="d-flex">
        <div class="term__translate"> 
            <span>Hello(Es),</span>
            <span>Hello(US),</span>
            <span>Hello(Fr),</span>
            <span>
              <a href="#">5 more</a>
          </span>              
      </div>
      <div class="term__action">
          <button>Translate</button>
      </div>
  </div>
</li>
<hr>
</ul>
</div>
<div class="footer-card d-flex">
  <div class="terms__items-count">
    5 terms
</div>
<div class="terms__actions">
    <button>ADD TERMN</button>
</div>
</div>    
</div>  
<div class="item-card">
    <div class="header-card">  
      <p>Glossary: SALUDOS, Language: ESP, Creator: PEPE</p>
  </div>
  <div class="body-card">
      <label for="terms__list">Terms:</label>
      <ul>
        <li class="d-flex terms_item">
          <div class="term___text">hola</div>
          <div class="d-flex">
            <div class="term__translate"> 
                <span>Hello(Es),</span>
                <span>Hello(US),</span>
                <span>Hello(Fr),</span>
                <span>
                  <a href="#">5 more</a>
              </span>              
          </div>
          <div class="term__action">
              <button>Translate</button>
          </div>
      </div>
  </li>
  <hr>
  <li class="d-flex terms_item">
      <div class="term___text">hola</div>
      <div class="d-flex">
        <div class="term__translate"> 
            <span>Hello(Es),</span>
            <span>Hello(US),</span>
            <span>Hello(Fr),</span>
            <span>
              <a href="#">5 more</a>
          </span>              
      </div>
      <div class="term__action">
          <button>Translate</button>
      </div>
  </div>
</li>
<hr>
<li class="d-flex terms_item">
  <div class="term___text">hola</div>
  <div class="d-flex">
    <div class="term__translate"> 
        <span>Hello(Es),</span>
        <span>Hello(US),</span>
        <span>Hello(Fr),</span>
        <span>
          <a href="#">5 more</a>
      </span>              
  </div>
  <div class="term__action">
      <button>Translate</button>
  </div>
</div>
</li>
<hr>
<li class="d-flex terms_item">
  <div class="term___text">hola</div>
  <div class="d-flex">
    <div class="term__translate"> 
        <span>Hello(Es),</span>
        <span>Hello(US),</span>
        <span>Hello(Fr),</span>
        <span>
          <a href="#">5 more</a>
      </span>              
  </div>
  <div class="term__action">
      <button>Translate</button>
  </div>
</div>
</li>
<hr>
</ul>
</div>
<div class="footer-card d-flex">
  <div class="terms__items-count">
    5 terms
</div>
<div class="terms__actions">
    <button>ADD TERMN</button>
</div>
</div>    
</div>  
</div> 
</section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
